h1 {
    color: #000000;
    text-align: center;
    text-decoration: underline
}

h2 {
    color: #000000;
    text-align: center
}

p {
    color: #496f6b;
    text-align: center;
    word-spacing: 3px
}

a{
    color: #005fe2
}