h1 {
    color: #000000;
    text-align: center;
    text-decoration: underline;
    
}

h2 {
    color: #000000;
    text-align: center
}

p {
    color: #2a4845;
    text-align: center;
    word-spacing: 3px
}

a{
    color: #000000
}


div {text-align: center;}
a {
    text-align:center;
}
center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f0f0f0;
    background-attachment: fixed;
    background-position: center;
    background-size: 2000px 1000px;
}

.banner {
    background-color: #00888e;
    
    border-width: 5px;
    border-style: dashed;
    border-color: #2f4f4f;
    border-radius: 3px;

    width: 50%;
    padding: 3px;
    margin: auto
    
}

.profile card {
    width: 300px;
    padding: 16px;
    margin: 12px;
    border: 2px solid #444;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0,0,0,0,8);
    box-sizing: border-box;
}

avatar{
    width: 64px;
    height: 64px;
    border-radius: 50%;
    float: left;
    margin-right: 12px;
}
table{
    align-content: center;
    display: inline-block;
    border-collapse: collapse;
    background-color: #00888e;
    border-color: #2f4f4f;
    
}

.navbar{
    text-align: center;
    width:100%;
    
}

/* stuff that doesnt change */
.navbutton{
    background-color: #00888e;
    border: 2px groove #2f4f4f;
    
   
    height:60px;
    
    padding:10px;
}

/* default - mobile */
.navbutton {
    width:100%;
    margin:-2px;
    
}

/* table and up */
@media (min-width: 768px){
    .navbutton{
        display: inline-block;
        width:25%;
        margin:-4px;
        
    }
}

/* large desktop */
@media (min-width: 1024px){
    .navbutton{
        display: inline-block;
        width:150px;
        margin:10px;
        
        
    }
}